/* CSS for Daily Transaction component */

.daily-transaction {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.container-card {
  display: flex;
  gap: 20px;
}

h4 {
  margin: 0;
}

/* Date Slider */
input[type="date"] {
  margin: 0;
}

.card-container {
  display: flex;
  /* border:1px solid red; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap; /* Use "nowrap" to prevent wrapping */
  margin: 0 -10px; /* Add negative margin to counter padding on cards */
}

/* Income and Spending Cards */
.income-card,
.spending-card {
  width: auto; /* Equal width for both cards, considering margin */
  margin: 10px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-sizing: border-box; /* Include padding in the width calculation */
}

.income-card h5,
.spending-card h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.income-card .card-text,
.spending-card .card-text {
  font-size: 16px;
  margin-bottom: 5px;
}
/* .searchField {
  width: 550px;
  border: 1px solid grey;
  border-radius: 10px;
  height:40px;
} */

.search-box {
  display: flex;
  align-items: center;
}

/* Style for the search input field */
.searchField {
  width:550px;
  height:40px;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background: url('./searchicon.png') no-repeat scroll right center transparent;
  background-size: 20px; /* Adjust the size of the search icon */
}

/* Style for the search icon */
.search_icon {
  margin-left: 10px;
  cursor: pointer;
}

/* Style for the search icon image (if needed) */
.search_icon img {
  /* Adjust image styles if necessary */
}






