.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(2, 8, 8);
}
.nav_container {
  padding-left: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accounts h6 {
  width: 100%;
  text-align: start;
}
.navbar * {
  color: rgb(8, 1, 1) !important;
}
.nav_list > div {
  display: flex;
}
.nav_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.navbar {
  background: linear-gradient(
    to right,
    rgba(212, 127, 201, 0.884),
    rgb(151, 199, 201)
  );
  /* color: white !important; */
}
.accounts li {
  width: 200px;
  text-align: start;
}
.main_container {
  padding: 20px;
  padding-left: 400px;
}
.diamond {
  background: pink;
  font-size: 50px;
  border-radius: 50%;
  padding: 5px;
  margin-left: 30px;
}
.expenses {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px 30px;
}
.income-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-block: 40px;
}
.daily {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
}
.companies {
  width: 100%;
  height: 45vh;
  overflow-y: auto;
  padding-right: 10px;
}
.title-div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.titles {
  display: grid;
}
.opa-50 {
  opacity: 50%;
}
.plus-icon {
  outline: none;
  border: none;
  border-radius: 50%;
  background: blue;
  color: white;
  width: 30px;
  height: 30px;
}
.nav-side {
  gap: 30px;
}

.nav-link i {
  font-size: 30px;
}

.nav-link {
  padding-block: 0 !important;
}

.container {
  margin-right: unset !important;
}
.accounts a {
  text-decoration: none !important;
  font-weight: 500;
  color: rgba(31, 100, 226, 0.87);
  list-style-type: none;
}
.accounts {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-left: 20px;
}
.add-icon {
  color: blue; /* Set the color to blue */
  font-weight: bold; /* Optional: Make the "+" sign bold */
  margin-right: 4px; /* Optional: Add some spacing to the right of the "+" sign */
}
/* .add-container {
  list-style-type: none;
} */

p {
  padding: 0 !important;
  margin: 0 !important;
  color: #282c34;
  font-size: 15px;
  font-weight: 400;
}
.sidebar_component_heading {
  font-size: 25px;
  font-weight: 600;
}
.user-image {
  width: 100px;
}
.user-profile {
  padding-bottom: 30px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column !important;
}
.sidebar_component_heading span {
  color: rgba(31, 100, 226, 0.87);
}
.sidebar_component {
  display: flex;
  flex-direction: column !important;
  padding: 20px !important;
  width: 300px;
  z-index: 12 !important;
}
.sidebar_navbar {
  top: 30px;
  left: 20px;
  position: absolute;
  z-index: 12 !important;
  background-color: white;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
}
.App-link {
  color: #61dafb;
}
.list-group-item span {
  color: black !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Additional CSS for Budget Visualization */
.budget-visualization {
  text-align: center;
  padding: 20px;
}

.budget-visualization h3 {
  margin-bottom: 20px;
}

/* Ensure the chart container is centered */
#budgetChart {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* margin-top: 100px; */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background overlay */
  z-index: 2000; /* Ensure the modal is on top of other elements */
}

/* Add these styles to your App.css file */

/* Add these styles to your CSS file */
.scheduled-expenses {
  text-align: center;
}

.secard-container {
  display: flex;
  /* background-color: black; */
  flex-wrap: nowrap;
  flex-direction: row; /* Display cards in a row */
  overflow-x: auto;
  /* Add horizontal scroll if needed */
}

.card {
  flex: 0 0 90px; /* Adjust the card width as needed */
  margin: 10px; /* Add spacing between cards */
  text-align: center;
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-sizing: border-box; /* Include padding in the width calculation */
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.logo {
  width: 25px; /* Adjust the logo size as needed */
  height: 25px;
  object-fit: contain;
  margin-left: o auto 10px;
  /* margin: 0 auto 10px; */
  padding-top: 5px; /* Center the logo horizontally and add margin below */
}

.title {
  font-size: 14px;
  color: white;
  /* margin-left:o auto 10px; */
}
/* Add these CSS rules to reduce the size of the Doughnut chart */
#myDoughnutChart {
  /* Adjust the width and height as needed */
  width: 150px !important;
  height: 150px !important;
}
.doughnutabovetext {
  margin-right: 70px;
}
.set-budget-button {
  border-radius: 10px;
}
.name .user-name {
  color: rgba(13, 93, 240, 0.96);
}
